
*.exe
__debug_*
go.mod
go.sum
test.py
test.http
logs/

/logs

vendor
logs

build.sh
.env
vendor/
Dockerfile
configurations/config.yaml
configurations/env.yaml
docker-environment/
assets/licenses/*.jpg
assets/licenses/*.png
.dockerignore
