name: CI

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.go'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.go'

jobs:

  # ------------------ BUILD ------------------
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test ./...


  # ------------------ LINT ------------------
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Run golangci-lint
        run: golangci-lint run ./...


  # ------------------ PLAYWRIGHT E2E TEST ------------------
  playwright:
    name: Playwright E2E Test
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      # ---------- Setup Go & start Fiber server ----------
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install Go dependencies
        run: go mod tidy

      - name: Start Fiber server
        run: nohup go run main.go > server.log 2>&1 &

      - name: Wait for server to be ready
        run: |
          for i in {1..20}; do
            if curl -s http://localhost:8855/health > /dev/null; then
              echo "Server is ready!"
              exit 0
            fi
            echo "Waiting for server..."
            sleep 1
          done
          echo "Server failed to start" && exit 1

      # ---------- Setup Node & Playwright ----------
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
  
  k6-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install k6
        run: sudo apt-get update && sudo apt-get install -y k6

      - name: Run Smoke Test
        run: k6 run k6/smoke/smoke.test.js

      - name: Run Load Test
        run: k6 run k6/load/load.test.js

      - name: Run Stress Test
        run: k6 run k6/stress/stress.test.js

      - name: Run Spike Test
        run: k6 run k6/spike/spike.test.js

      - name: Run Soak Test
        run: k6 run k6/soak/soak.test.js
      


